html,body{
	position: relative;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 14px;
	color: #333333;
	border:none;
	background-color: #e2e3db;
}

button{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body, html{
	width: 100%;
	height: 100%;
}

.event{
	cursor: pointer;
}

.event:hover{
	background-color: gray;
}

.door > .open{
	color: green;
}

.door > .closed{
	color: gray;
}

.on{
	color: yellow;
}

.off{
	color: gray;
}

.motionsensor > .movement{
	color: red;
}

.motionsensor > .nothing{
	color: gray;
}

#viewport{
	position: relative;
	height: 2300px;
	line-height: 2300px;
	width: 2400px;
	text-align: center;
}

#floorplanwrapper{
	position: relative;
	height: 800px;
	width: 2300px;
	display: inline-block;
}

#floorplanwrapper > img{
	position: absolute;
}

#floorplan{
	position: absolute;
	left: 0px;
	right: 0px;
}


#infobar{
	background-color: #333;
	height: 100%;
	width: 256px;
	position: fixed;
	top:0px;
	left:0px;
	color: red;
}












